<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.megaache.siteautocomplete">

    <application>
        <activity
            android:name="com.megaache.siteautocomplete.SiteAutocompleteActivity"
            android:theme="@style/theme_overlay" />
        <!--        android:theme="@style/theme_overlay"-->
    </application>

</manifest>